<div class="content">
  <app-toolbar> </app-toolbar>
  <div class="feed">
    <div class="share">
      <button (click)="share()" mat-icon-button rel="noopener noreferrer">
        <mat-icon>share</mat-icon>
      </button>
    </div>
    <div class="logo">
      <img
        src="../../../assets/imagens/logo.png"
        width="50%"
        alt="Logo Escola Cívico Militar São Sebastião"
      />
    </div>
    <div class="turmas">
      <div class="header-lista-catalogos">
        <h1>Turmas</h1>
      </div>
      <card-classes [list]="classes"></card-classes>
    </div>
  </div>
</div>
